  body{
      padding: 0;
      margin: 0;
}

#container{
            background-color: #212228;
            background-image: linear-gradient( #292a30 .lem, transparent .lem),
              linear-gradient(90deg, #292a30 .lem, transparent .lem);
              background-size: 4em 4em;
              height: 100vh;
}
#card{
width: 400px;
height: 400px;
background_color: #AFDA9F;
border-radius: 5px;
cursur: pointer;
position: fixed;


}
